ollama
numpy
vosk
pyaudio
gigachat
sounddevice
omegaconf
yeelight
opencv-python
torch @ https://download.pytorch.org/whl/nightly/rocm6.1
torchvision @ https://download.pytorch.org/whl/nightly/rocm6.1
torchaudio @ https://download.pytorch.org/whl/nightly/rocm6.1
